@import "~bootstrap/scss/bootstrap";
@import "react-toastify/dist/ReactToastify.css";
@import 'node_modules/react-modal-video/scss/modal-video.scss';
@import "slick-carousel/slick/slick.css";

@import "../../public/assets/css/animate.min.css";
// @import "../../public/assets/css/bootstrap.min.css";
@import "../../public/assets/css/fontawesome.min.css";
@import "../../public/assets/css/custom-icon.css";
@import "../../public/assets/css/nice-select.min.css";
@import "../../public/assets/sass/style.scss";
@import "../../public/assets/css/responsive.css";